<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CACOFF - Cabinet de Conseil</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
  <!-- ...tailwind cinfigurations... -->
    <script>
    tailwind.config = {
        theme: {
        extend: {
            colors: {
            primary: { DEFAULT: '#22c55e', light: '#bbf7d0', dark: '#166534', },
            gray: { 900: '#18181b', 700: '#374151', 100: '#f3f4f6', },
            },
            fontFamily: {
            sans: ['Inter', 'ui-sans-serif', 'system-ui'],
            },
        }
        }
    }
    </script>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body class="text-gray-800">

  <div id="header" hx-get="components/header.html" hx-trigger="load"></div>
  <div class="mt-16" hx-get="components/banner.html" hx-trigger="load"></div>
  <div hx-get="components/about.html" hx-trigger="load"></div>
  <div hx-get="components/services.html" hx-trigger="load"></div>
  <div hx-get="components/values.html" hx-trigger="load"></div>
  <div hx-get="components/footer.html" hx-trigger="load"></div>
<script type="text/javascript" src="./script.js"></script>
<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
</body>
</html>
